<h2>Course Overview</h2>
<br>
{% for module in page.modules %}
<div class="module">
  <div class="module-title">
    <h3>{{module.name}}</h3>
  </div>
  <div class="video-list">
    {% for video in module.videos %}
    <div class="video">
      {% if video.preview == true %}
      <p>{{video.name}}:</p>
      <a href="{{ video.url }}" class="btn cta preview">
        <p>Preview</p>
      </a>
      {% else %}
      <p>{{video.name}}:</p>
      <a href="{{ video.url }}" class="btn cta disabled">
        <p>Start</p>
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
