<h2>Course Overview</h2>
<br>
{% assign i = 0 %}
{% for module in page.modules %}
{% if i > 2 %} <div class="module hidden-module"> {% else %} <div class="module"> {% endif %}
    <div class="module-title">
      <h3>{{module.name}}</h3>
    </div>
    <div class="video-list">
      {% for video in module.videos %}
      <div class="video" onclick="location.href='{{video.url}}';">
        {% if video.preview == true %}
        <p id="video-name">{{video.name}}</p>
        <a href="{{ video.url }}" class="btn cta preview">
          <p>Preview</p>
        </a>
        {% else %}
        <p id="video-name">{{video.name}}</p>
        <a href="{{ video.url }}" class="btn cta disabled">
          <p>Start</p>
        </a>
        {% endif %}
      </div>
      </a>
      {% assign i = i | plus:1 %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <div id="overview-hide" class="">
    <img src="/assets/images/fa-chevron-up.svg">
  </div>
  <div id="overview-expand" class="">
    <img src="/assets/images/fa-chevron-down.svg">
  </div>
