@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// .current {
//   color: green;
// }

body {
  font-family: Montserrat, sans-serif;
}

#benefits {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

#middle_cta {
  background-color: #f9f9f9;
}

#faq {
  background-color: #f9f9f9;
}

#end_cta {
  background: url(https://www.filepicker.io/api/file/CpcD87xkRFuDTLUhMbFN);
  background-size: cover;
  //background-position: center center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#end_cta .inner-content {
  text-align: center;
}

#end_cta .inner-content .btn.cta {
  font-size: 17px;
  padding: 12px 32px;
}

#end_cta .inner-content .btn.cta p::before {
  background-image: url("/assets/images/fa-cart-shopping.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  margin-right: 10px;
}

#hero {
  display: flex;
  flex-direction: row;
  // width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  // justify-content: space-between;
}

#hero-image {
  flex: 1;
  max-width: 500px;
  /* Adjust the size as needed */
  margin-right: 20px;
  text-align: center;
}

#hero-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* Optional: Add some styling to the image */
}

#hero-content {
  //flex: 2;
  width: 30rem;
}

#hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #2057a8; // #212338;
  font-size: 15px;
  height: 50px;
}

#navbar-logo img {
  max-height: 50px;
  /* Adjust the logo size as needed */
}

#navbar-links {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#navbar-links:visited {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#navbar-links a {
  // color: #fff;
  color: #2057a8;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 15px;
}

#navbar-links a:visited {
  // color: #fff;
  color: #2057a8;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 15px;
}

// .navbar-links a.current {
//   border-bottom: 2px solid #2057a8;
// }

.btn.cta {
  background-color: #2057a8;
  color: #fff !important;
  padding: 10px 20px;
  line-height: 30px;
  text-decoration: none;
  border-radius: 25px;
  margin-left: 20px;
  transition: background-color 0.3s;
  font-weight: 600 !important;
  display: inline-block;
}

#navbar .btn.cta {
  padding: 3px 18px !important;
}

.hero.btn.cta {
  padding: 12px, 32px !important;
  font-size: 17px;
}

#intro {
  position: relative;
  color: white;
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  background: url(https://www.filepicker.io/api/file/CpcD87xkRFuDTLUhMbFN);
}

#intro .inner-content {
  text-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 800px;
  text-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

#intro .inner-content h2 {
  font-size: 30px;
  font-weight: 700;
}

#intro .inner-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#intro .inner-content a {
  color: #ffcc00;
}

#benefits .inner-content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

#benefits .inner-content h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

#middle_cta .inner-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
}

#about .inner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#about .inner-content .instructor-profile {
  flex: 1;
  margin-right: 10px;
}

#about .inner-content .instructor-bio {
  flex: 2;
  margin-left: 10px;
}

#about .inner-content .instructor-bio h2 {
  font-size: 30px;
  font-weight: 200;
  line-height: 28px;
}

#about .inner-content .instructor-bio p {
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
}

#faq {
  // text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#faq .inner-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#faq .inner-content h2 {
  font-size: 30px;
  font-weight: 500;
}

// Workaround for inlining svg with set size
#faq .inner-content h2::before {
  background-image: url("/assets/images/fa-question-circle.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  margin-right: 10px;
}

#faq .inner-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

#faq .inner-content p {
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
}

#overview {
  padding-top: 50px;
  padding-bottom: 50px;
}

#overview .inner-content {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#overview .inner-content h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 880px) {
  #hero {
    flex-direction: column;
  }

  #hero-image {
    width: 100%;
    margin: 0px;
  }

  #hero-image img {
    width: 100%;
    margin: 0px;
  }

  #hero-content {
    text-align: center;
    max-width: 30rem;
  }

  #intro .inner-content {
    width: 80%;
  }

  #about .inner-content {
    width: 80%;
    flex-direction: column;
  }

  #about .inner-content .instructor-profile {
    flex: 2;
    text-align: center;
  }

  #about .inner-content .instructor-profile #photo-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  #intro {
    min-height: 600px;
  }

  #benefits .inner-content {
    width: 80%;
  }

  #faq .inner-content {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #intro {
    min-height: 680px;
  }
}

#photo-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circular-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

// .colored-link {
//   color: #ffe347; /* Tomato color, change to your desired color */
//   text-decoration: none; /* Optional: remove underline */
// }
