<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
  {% include header.html %}
  <main>
    {% include hero.html %}
    <section id="intro">
      <div class="inner-content">
        {% capture intro_content %} {% include_relative {{ page.course
        }}/intro.md %} {% endcapture %} {{ intro_content | markdownify }}
      </div>
    </section>
    <section id="benefits">
      <div class="inner-content">
        {% capture benefits_content %} {% include_relative {{ page.course
        }}/benefits.md %} {% endcapture %} {{ benefits_content | markdownify }}
      </div>
    </section>
    <section id="overview">
      <div class="inner-content">
        {% include overview.html %}
      </div>
    </section>
    <section id="middle_cta">
      <div class="inner-content">
        <h2>Get started now!</h2>
        {% include cta.html %}
      </div>
    </section>
    <section id="about">
      <div class="inner-content">
        {% include about.html %}
      </div>
    </section>
    <section id="faq">
      <div class="inner-content">
        {% capture faq_content %} {% include_relative {{ page.course }}/faq.md
        %} {% endcapture %} {{ faq_content | markdownify }}
      </div>
    </section>
    <section id="end_cta">
      <div class="inner-content">
        {% include cta.html %}
      </div>
    </section>
  </main>
  {% include footer.html %}
</body>

</html>
